.description {
    max-width: 690px;
}

.description__title {
    font-weight: 900;
    font-size: 3.4rem;
    line-height: 1.07;
    margin: 0 0 40px;
    padding: 0;
}

.description__text {
    font-size: 1rem;
    line-height: 1.63;
    margin: 0 0 33px;
    padding: 0;
}

.description__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list__item {
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.5;
    display: block;
}

@media (max-width: 715px) {
    .description__title {
        font-size: 2rem;
        line-height: 1.1;
    }

}