.gallery__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
    grid-gap: 16px;
    align-items: stretch;
}

.gallery__item {
    max-width: 100%;
}

@media (max-width: 1024px) {
    .gallery__grid {
        grid-gap: 14px;
    }
}

@media (max-width: 870px) {
    .gallery__grid {
        grid-gap: 16px;
    }

}

@media (max-width: 715px) {
    .gallery__grid {
        grid-gap: 12px;
    }
}